/**
* ================
* === DEFAULT ====
* ================
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  position: relative;
  list-style: none;
}

/* #region Default Design Mock */

/* 
    Colors: 
        footer: #403b3b => laut Mock
        font: s#000000 => laut Mock
        page accent: #008000 => Laut Mock
        hover page accent: #006000
*/

/* #endregion */

/* #region Default Container */
body {
  width: 100%;
  height: 100%;
  /*  
    font-family: "Raleway", sans-serif; 
    TODO - müssen noch gewählt und heruntergeladen werden
  */
  font-size: 62.5%; 
  /*
    62.5% von 16px = 10px = 1rem (was meinst dazu?)
    TODO - Scheint nicht zu funktionieren. Also die Schriftgröße passt sich nicht a
    Laut W3 Schools -> vw (dvw?) als responsive Einheit?
    1vw = 1% of viewport width. If the viewport is 50cm wide, 1vw is 0.5cm.
  */
  
  color: #000000; /* Schriftfarbe */
  min-height: 100vh;
}

main {
  flex: 1;
}

main {
  width: 100%;
  height: 100%;
  min-height: 85dvh; /*Später überdenken*/
}

section {
    width: 100%;
    height: 100%;
}

.content {
  max-width: 1920px;
  width: 100%;

  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
/* #endregion */

/* #region global stylings */

.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-h {
  display: flex;
}

.meals-picture {
  width: 15rem;
  height: 15rem;
  border-radius: 0.3rem;
  box-shadow: 1px 4px 12px -4px rgba(0, 0, 0, 0.3);
}

.d-none {
  display: none;
}

/* #endregion */

/**
* ====================
* === Landingpage ====
* ====================
*/
/* #region landingpage */

/* #region header */

.header-section {
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);

  .header-box {
    justify-content: space-evenly;
    align-items: end;
    padding-top: 1.5rem;
  }

  .logo-link {
    color: #000000;
    padding-bottom: 1.5rem;
  }

  .header-logo-box {
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    font-size: 1.5rem;
  }

  .logo {
    width: 4rem;
    height: 4rem;
  }

  ul {
    gap: 4rem;
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 0.5rem;

    li {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      .nav-icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    
      .link {
        color: #000000;
      }

      .link:hover {
        color: #008000;
        text-decoration: underline;
        text-decoration-color: #008000;
        text-decoration-thickness: 0.25rem;
        text-underline-offset: 0.6rem;
      }
    }
  }
}

/* #endregion header */

/* #region main */

/* #region welcome-section */

.welcome-section {
  padding: 4.5rem 0 2rem 0;

  h1 {
    text-align: center;
    font-size: 2.5rem;
  }

  .meals-selection {
    justify-content: space-evenly;
    padding: 3.5rem 0 2.5rem 0;

    .meal {
      gap: 0.5rem;

      .meal-name {
        text-align: center;
        font-size: 1.8rem;
      }
    }
  }
}

/* #endregion welcome-section */

/* #region inspiration-section */

.inspiration-section {
  padding: 4.5rem 0 4.5rem 0;
  background-color: rgb(241, 241, 241);

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  .meals-selection {
    justify-content: space-evenly;
    align-items: center;
    padding: 4.5rem 0 4.5rem 0;

    .icon {
      width: 4.25rem;
      height: 4.25rem;
      fill: #008000; /* Farbe hier ändern */
      cursor: pointer;
    }

    .icon:hover {
      fill: #006000;
    }

    .meal {
      gap: 0.5rem;

      .meal-name {
        text-align: center;
        font-size: 1.8rem;
      }
    }
  }

  .meal-selection-icons {
    justify-content: center;
    .selection-icon {
      width: 1rem;
      height: 1rem;
      fill: #008000;
    }
  }
}

/* #endregion inspiration-section */

/* #endregion main */

/* #region Footer */
footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #403b3b;

  .footer-content {
    width: 100%;
    height: 100%;

    padding: 4rem 15rem;

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      >a {
        img {
          width: 4.5rem;
          height: 4.5rem;
        }
      }

      .footer-links {
        display: flex;
        column-gap: 1.25rem;

        .footer-link {
          font-size: 1.5rem;
          font-weight: bold;

          color: #008000;
        }
        .footer-link:hover {
          text-decoration: underline;
          filter: drop-shadow(0px 0px 16px rgb(255, 255, 255, 0.3));
        }
      }
    }
  }
}
/* #endregion */

/* #endregion */

/**
* ====================
* === Contactpage ===
* ====================
*/

/* #region contactpage */

/* #region contact section hero */
.contact-section-hero {
  .content {
    > div {
      margin-top: 25px;
      /* justify-content: center; */
      align-items: center;
      img {
        width: 72px;
        height: 72px;
      }
      h2 {
        font-size: 72px;
        text-decoration: underline;
      }
    }
    p {
      font-size: 24px;
      padding: 40px 160px;
      text-align: center;
    }
  }
}
/* #endregion */

/* #region contact area */
.contact-section-form {
  width: 100%;
  padding: 0px 50px 30px 50px;

  .content {
    width: 100%;
    /* height: 100%; */
    align-items: flex-start;
    justify-content: space-between;

    /* #region Content Find us */
    .find-us-content {
      width: 50%;
      padding: 0 25px;

      h2 {
        font-size: 48px;
        width: 100%;
        margin-bottom: 40px;
      }
      > div {
        margin-bottom: 16px;
        img {
          width: 40px;
          height: 40px;
        }

        span {
          font-size: 20px;
        }
      }

      iframe {
        width: 90%;
        height: 320px;
        /* flex-flow: 1; */
      }
    }
    /* #endregion */

    /* #region Form Content */

    .form-content {
      width: 50%;
      padding: 0 25px;
      form {
        align-items: center;
        justify-content: center;
        width: 100%;

        label {
          width: 100%;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        input {
          width: 100%;
          /* height: 150px; */
          font-size: 20px;
          padding: 5px;
          margin-bottom: 25px;

          border-radius: 8px;
        }

        textarea {
          width: 100%;
          font-size: 20px;
          margin-bottom: 30px;
          border-radius: 8px;
          padding: 10px;
        }

        .form-btn {
          color: antiquewhite;
          background-color: #338533;

          border-radius: 8px;
        }
        .form-btn:hover {
          filter: drop-shadow(3px 3px 5px rgba(61, 61, 61, 0.6));
        }
      }
    }
    /* #endregion */

    /* #region Email was send */
    .email-send-content {
      width: 100%;
      .content {
        width: 100%;
        > div {
          width: 100%;

          border: 5px solid #338533;
          border-radius: 16px;
          padding: 20px 40px;

          p {
            width: 100%;
            text-align: center;
            font-size: 32px;
            font-weight: bold;
            color: #338533;
          }
        }
      }
    }
    /* #endregion */
  }

}

/* #endregion */

/* #endregion */

/**
* ====================
* === Impressumpage ===
* ====================
*/

/* #region impressum page */

/* #region header */

#nav-impressum {
  color: #008000;
  text-decoration: underline #008000;
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.6rem;
}

/* #endregion header */

/* #region content impressum */
.section-impressum {
  width: 100%;

  .content {
    width: 100%;

    padding: 4.5rem 15rem 2rem 15rem;

    >div {
      width: 100%;

      h1 {
        text-align: center;
        font-size: 2.5rem;
        padding-bottom: 4rem;
      }

      h2 {
        font-size: 1.75rem;
        padding-top: 3rem;
      }

      p {
        font-size: 1.25rem;
        padding-bottom: 0.25rem;
        strong {
          font-weight: 1.5rem;
        }

        a {
          color: #008000;
          font-weight: bold;
          text-decoration-thickness: 0.25rem;
          text-underline-offset: 0.6rem;
        }
      }
    }
  }
}
/* #endregion content impressum */

/* #endregion */

/**
* ====================
* === DSGVOpage ===
* ====================
*/

/* #region dsgvo page */

.section-dsgvo {
  width: 100%;

  .content {
    width: 100%;

    padding: 4.5rem 15rem 2rem 15rem;

    >div {
      width: 100%;

      h1 {
        text-align: center;
        font-size: 2.5rem;
        padding-bottom: 4rem;
      }

      h2 {
        font-size: 1.75rem;
        padding-top: 3rem;
      }

      h3 {
        font-size: 1.3rem;
      }

      ul {
        width: 100%;
        padding-left: 1.25rem;
        li {
          list-style: disc;
          font-size: 1rem;
          padding-bottom: 0.25rem;
        }
      }

      ol {
        width: 100%;
        padding-left: 1.25rem;
        li {
          list-style: disc;
          font-size: 1rem;
          padding-bottom: 0.25rem;
        }
      }

      table {
        tbody {
          tr {
            font-size: 1rem;
            padding-bottom: 0.25rem;
          }
        }
      }

      p {
        font-size: 1rem;
        padding-bottom: 0.25rem;
        strong {
          font-weight: 1.5rem;
        }

        a {
          color: #008000;
          font-weight: bold;
          text-decoration-thickness: 0.25rem;
          text-underline-offset: 0.6rem;
        }
      }
    }
  }
}

/* #endregion */




