* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  position: relative;
}

/* 
    Colors: 
        Schrift: schwarz
        Footer: #
        Farbakzent: #006600 // grün für Links, Buttons etc. 


*/

body {
    width: 100%;
    font-size: 24px;
    color: #ffffff;
}

main {
    width: 100%;
    height: 100%;

    section {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }
}

.content {
    width: 100%;
    max-width: 1920px;
    height: 100%;
}