/**
* ================
* === DEFAULT ====
* ================
*/

/* #region Default styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  position: relative;
  list-style: none;
}

/* #region Default Design Mock */

/* 
    Colors: 
        footer: #403b3b => laut Mock
        font: s#000000 => laut Mock
        page accent: #008000 => Laut Mock
        hover page accent: #006000
*/

/* #endregion */

/* #region Default Container */
body {
  width: 100%;
  height: 100%;

  font-family: "Raleway" , sans-serif;
  font-size: calc(16px + 0.75dvw);

  color: #000000;
  min-height: 100dvh;
}

main {
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 85dvh;
}

section {
  width: 100%;
  height: 100%;
}

.content {
  max-width: 1920px;
  width: 100%;

  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  padding: 0px 10dvw;


}
/* #endregion */

/* #region global stylings */

.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-h {
  display: flex;
}

.meals-picture {
  width: 15rem;
  height: 15rem;
  border-radius: 0.3rem;
  box-shadow: 1px 4px 12px -4px rgba(0, 0, 0, 0.3);
}

.d-none {
  display: none;
}

h1 {
  font-size: calc(16px + 1.75);
}

h2 {
  font-size: calc(16px + 1.25);
}

h3 {
  font-size: calc(16px + 1);
}

/* #endregion */

/* #endregion Default styling */

/**
* ====================
* === Landingpage ====
* ====================
*/

/* #region landingpage */

/* #region header */

#nav-home {
  color: #008000;
  text-decoration: underline #008000;
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.6rem;
}

.header-section {
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);

  .header-box {
    justify-content: space-between;
    align-items: end;
    padding-top: 1.5rem;
  }

  .logo-link {
    color: #000000;
    padding-bottom: 1.5rem;
  }

  .header-logo-box {
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }

  .logo {
    width: 4rem;
    height: 4rem;
  }

  ul {
    gap: 4rem;
    font-weight: bold;
    padding-bottom: 0.5rem;

    li {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      .nav-icon {
        width: 1.5rem;
        height: 1.5rem;
      }

      .link {
        font-size: calc(16px + 0.4dvw);
        color: #000000;
      }

      .link:hover {
        color: #008000;
        text-decoration: underline;
        text-decoration-color: #008000;
        text-decoration-thickness: 0.25rem;
        text-underline-offset: 0.6rem;
      }
    }
  }
}

/* #endregion header */

/* #region main */

/* #region welcome-section */

.welcome-section {
  padding: 4.5rem 0 2rem 0;

  h1 {
    text-align: center;
  }

  .meals-selection {
    justify-content: space-evenly;
    padding: 3.5rem 0 2.5rem 0;

    .meal {
      gap: 0.5rem;

      .meal-name {
        text-align: center;
      }
    }
  }
}

/* #endregion welcome-section */

/* #region inspiration-section */

.inspiration-section {
  padding: 4.5rem 0 4.5rem 0;
  background-color: rgb(241, 241, 241);

  h2 {
    text-align: center;
  }

  .meals-selection {
    justify-content: space-evenly;
    align-items: center;
    padding: 4.5rem 0 4.5rem 0;

    .icon {
      width: 4.25rem;
      height: 4.25rem;
      fill: #008000; /* Farbe hier ändern */
      cursor: pointer;
    }

    .icon:hover {
      fill: #006000;
    }

    .meal {
      gap: 0.5rem;
      align-items: center;

    }
  }

  .meal-selection-icons {
    justify-content: center;
    .selection-icon {
      width: 1rem;
      height: 1rem;
      fill: #008000;
    }
  }
}

/* #endregion inspiration-section */

/* #endregion main */

/* #region Footer */
footer {
  width: 100%;
  height: 10rem;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #403b3b;  


  .footer-content {
    width: 100%;
    align-items: center;

    > div {
      height: 100%;
      justify-content: space-between;
      align-items: center;

      > a {
        
        img {
          width: 4.5rem;
          height: 4.5rem;
        }
      }

      .footer-links {
        display: flex;
        column-gap: 1dvw;

        .footer-link {
          font-weight: bold;

          color: #008000;
        }
        .footer-link:hover {
          text-decoration: underline;
          filter: drop-shadow(0px 0px 16px rgb(255, 255, 255, 0.3));
        }
      }
    }
  }
}
/* #endregion */

/* #endregion landingpage */

/**
* ====================
* === Contactpage ===
* ====================
*/

/* #region contactpage */

/* #region contact section hero */

#nav-contact {
  color: #008000;
  text-decoration: underline #008000;
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.6rem;
}

.contact-section-hero {
  .content {
    > div {
      margin-top: 25px;
      /* justify-content: center; */
      align-items: center;
      img {
        width: 72px;
        height: 72px;
      }
      h2 {
        text-decoration: underline;
      }
    }
    p {
      padding: 40px 160px;
      text-align: center;
    }
  }
}
/* #endregion */

/* #region contact area */
.contact-section-form {
  width: 100%;
  /* padding: 0px 50px 30px 50px; */

  .content {
    width: 100%;
    /* height: 100%; */
    align-items: flex-start;
    justify-content: space-between;

    /* #region Content Find us */
    .find-us-content {
      width: 50%;
      padding: 0 25px;

      h2 {
        width: 100%;
        margin-bottom: 40px;
      }
      > div {
        margin-bottom: 16px;
        img {
          width: 40px;
          height: 40px;
        }

      }

      iframe {
        width: 90%;
        height: 320px;
        /* flex-flow: 1; */
      }
    }
    /* #endregion */

    /* #region Form Content */

    .form-content {
      width: 50%;
      padding: 0 25px;
      form {
        align-items: center;
        justify-content: center;
        width: 100%;

        label {
          width: 100%;
          font-weight: bold;
          margin-bottom: 10px;
        }

        input {
          width: 100%;
          padding: 5px;
          margin-bottom: 25px;

          border-radius: 8px;
        }

        textarea {
          width: 100%;
          margin-bottom: 30px;
          border-radius: 8px;
          padding: 10px;
        }

        .form-btn {
          color: antiquewhite;
          background-color: #338533;

          border-radius: 8px;
        }
        .form-btn:hover {
          filter: drop-shadow(3px 3px 5px rgba(61, 61, 61, 0.6));
        }
      }
    }
    /* #endregion */

    /* #region Email was send */
    .email-send-content {
      width: 100%;
      .content {
        width: 100%;
        > div {
          width: 100%;

          border: 5px solid #338533;
          border-radius: 16px;
          padding: 20px 40px;

          p {
            width: 100%;
            text-align: center;
            font-weight: bold;
            color: #338533;
          }
        }
      }
    }
    /* #endregion */
  }
}

/* #endregion */

/* #endregion contactpage */

/**
* ====================
* == Impressumpage ===
* ====================
*/

/* #region impressum page */

/* #region header */

#nav-impressum {
  color: #008000;
  text-decoration: underline #008000;
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.6rem;
}

/* #endregion header */

/* #region content impressum */
.section-impressum {
  width: 100%;

  .content {
    width: 100%;

    padding: 4.5rem 15rem 2rem 15rem;

    > div {
      width: 100%;

      h1 {
        text-align: center;
        padding-bottom: 4rem;
      }

      h2 {
        padding-top: 3rem;
      }

      p {
        padding-bottom: 0.25rem;
        strong {
          font-weight: 1.5rem;
        }

        a {
          color: #008000;
          font-weight: bold;
          text-decoration-thickness: 0.25rem;
          text-underline-offset: 0.6rem;
        }
      }
    }
  }
}
/* #endregion content impressum */

/* #endregion impressum page*/

/**
* ====================
* ==== DSGVOpage =====
* ====================
*/

/* #region dsgvo page */

.section-dsgvo {
  width: 100%;

  .content {
    width: 100%;

    padding: 4.5rem 15rem 2rem 15rem;

    > div {
      width: 100%;

      h1 {
        text-align: center;
        padding-bottom: 4rem;
      }

      h2 {
        padding-top: 3rem;
      }

      ul {
        width: 100%;
        padding-left: 1.25rem;
        li {
          list-style: disc;
          padding-bottom: 0.25rem;
        }
      }

      ol {
        width: 100%;
        padding-left: 1.25rem;
        li {
          list-style: disc;
          padding-bottom: 0.25rem;
        }
      }

      table {
        tbody {
          tr {
            padding-bottom: 0.25rem;
          }
        }
      }

      p {
        padding-bottom: 0.25rem;
        strong {
          font-weight: 1.5rem;
        }

        a {
          color: #008000;
          font-weight: bold;
          text-decoration-thickness: 0.25rem;
          text-underline-offset: 0.6rem;
        }
      }
    }
  }
}

/* #endregion dsgvo page */

/**
* ====================
* === Recipepage M ===
* ====================
*/

/* #region recipe page */


/* #region header */
#nav-recipe-of-day {
  color: #008000;
  text-decoration: underline #008000;
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.6rem;
}
/* #endregion header */

/* #region main */

/* #region hero */
.recipe-section-hero {

  width: 100%;
  
  .content {
    width: 100%;
    padding: 4rem 15rem 3rem 15rem;   


    >div {
      width: 100%;

      h1 {
        text-align: left;
        padding-bottom: 2rem;
      }
        
      .recipe-img {
        width: 100%;
        height: 10rem;
        padding-bottom: 2rem;
      }
        
      >div {
        column-gap: 2em;
        padding-bottom: 4rem;
          
        div {
          text-align: center;
          align-items: center;
          column-gap: 0.8rem;
            
          background-color: rgba(0, 0, 0, 0.1);
          padding: 4px 8px;
          border-radius: 8px;
            
          img {
            height: 1rem;
          }

        }
          
          
        }
        
      .selector{
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        padding-bottom: 0;
        
      }
    }
  }
}

/* #endregion hero */

/* #region recipe calculator */

.section-recipe-calc {
  width: 100%;

  .content {
    width: 100%;
    padding: 0rem 15rem 3rem 15rem;   

    .calc-container {
      width: 100%;
      justify-content: flex-start;
      align-items: center;

      span {
        width: 10%;
        min-width: 150px;
      }

      input {
        width: 20%;
        padding: 0.75rem 1rem;
        border-color: rgba(0, 0, 0, 0.1);
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      button {
        width: 20%;
        border-color: rgba(0, 0, 0, 0.1);
        background-color: #008000;
        color: white;
        padding: 0.75rem 2rem;
        left:-0.4rem;
        text-align: center;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      button:hover {
        background-color: #006000;
      }
      
    }

    .recipe-ingredients {
      width: 100%;
      
      text-align: left;
      padding-top: 1rem;

      #tbl-ingredients {
        width: 100%;
        
        tr {
          width: 100%;
          border-radius: 8px;
        }
        
        tr:nth-child(even) td {
          background-color: #ffffff;
          color: #000000;
        }
        
        tr:nth-child(odd) td {
          background-color: #cccccc;
          color: #000000;
        }

        td {
          width: 100%;
          padding: 0.75rem;
        }
        .td-col-1 {
          width: 10%;
          text-align: center;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
        .td-col-2 {
          width:100%;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    
    }

  }
}

/* #endregion recipe calculator */

/* #region preparation */
.section-recipe-preparation {
  width: 100%;
      
  .content {
    width: 100%;
    padding: 2rem 15rem 3rem 15rem;  

    .recipe-preparation {
      width: 100%;

      >div {
        width: 100%;
        column-gap: 2rem;
        padding-top: 1rem;
        div {
          text-align: center;
          align-items: center;
          column-gap: 0.8rem;
            
          background-color: rgba(0, 0, 0, 0.1);
          padding: 4px 8px;
          border-radius: 8px;
            
          img {
            height: 1rem;
          }

        }
      }

      #preparation-descr {
        padding-top:1.5rem;
      }
    }
  }
}
/* #endregion preparation */

/* #region owner area */

.section-recipe-owner {
  width: 100%;

  .content {
    width: 100%;
    padding: 0rem 15rem 6rem 15rem; 

    h3 {
      width: 100%;
    }

    >div { 
      width: 100%;
      align-items: center;
      column-gap: 3%;
      padding-top: 1rem;;

      #owner-img {
        width: 96px;
        height: 96px;
        border-radius: 100%;
        object-fit: contain;
        background: black;
        border: 2px solid #008000
      }

    }
  }
}
/* #endregion owner area */

/* #endregion main */


/* #endregion recipe page */

/**
* ====================
* === Dayli Recipe page ===
* ====================
*/

/* #region Dayli Recipe Page */

/* #region Hero-Section */
.hero-section {
  padding: 4rem 1rem;
  justify-content: center;

  .hero-box {
    align-items: flex-start;
    gap: 2rem;
    .hero-image {
      width: 30rem;
      max-width: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
    }

    .hero-description {
      flex: 1;
      min-width: 30rem;

      h2 {
        margin-top: 0;
      }

      p {
        margin: 1rem 0;
      }

      .button {
        display: inline-block;
        margin-top: 4%;
        border-style: none;
        padding: 0.76rem 4rem;
        background-color: #008000;
        color: white;
      }

      .button:hover {
        background-color: #017201;
      }
    }
  }
}

/* #endregion Hero-Section */

/* #region Something-New-Section */

.something-new-section {
  background-color: rgb(241, 241, 241);
  padding: 2rem 0 6rem 0;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .something-new-container {
    justify-content: space-between;
    .meal-box {
      a {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        span {
          font-weight: bold;
        }
      }
    }
  }
}

/* #endregion Something-New-Section */

.random-info-section {
  padding: 2rem 0 4rem;
  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .info-text-box {
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    p {
      strong {
        display: inline-block;
        margin-bottom: 1rem;
      }
    }
    justify-content: center;
    .info-image {
      width: 5rem;
      height: 5rem;
    }
  }
}

/* #endregion Dayli Recipe Page */